In [112]:
# Import our dependencies
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import accuracy_score
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import hvplot.pandas

In [113]:
# Import input data
df = pd.read_csv('charity_data.csv')
display(df.head())
display(df.dtypes)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [114]:
# check for missing data
for column in df:
    null_count = df[column].isnull().sum()
    print(f'{column} has {null_count} missing data' )

EIN has 0 missing data
NAME has 0 missing data
APPLICATION_TYPE has 0 missing data
AFFILIATION has 0 missing data
CLASSIFICATION has 0 missing data
USE_CASE has 0 missing data
ORGANIZATION has 0 missing data
STATUS has 0 missing data
INCOME_AMT has 0 missing data
SPECIAL_CONSIDERATIONS has 0 missing data
ASK_AMT has 0 missing data
IS_SUCCESSFUL has 0 missing data

In [115]:
# Drop dupes
df = df.drop_duplicates()
df = df.dropna()
df.describe()

                EIN        STATUS       ASK_AMT  IS_SUCCESSFUL
count  3.429900e+04  34299.000000  3.429900e+04   34299.000000
mean   5.191852e+08      0.999854  2.769199e+06       0.532406
std    2.451472e+08      0.012073  8.713045e+07       0.498956
min    1.052060e+07      0.000000  5.000000e+03       0.000000
25%    2.748482e+08      1.000000  5.000000e+03       0.000000
50%    4.656317e+08      1.000000  5.000000e+03       1.000000
75%    7.526117e+08      1.000000  7.742000e+03       1.000000
max    9.960869e+08      1.000000  8.597806e+09       1.000000

In [116]:
df = df.drop(columns=["NAME"])
df.head()

,EIN,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [117]:
df_obj_filter = df.dtypes[df.dtypes == object].index.tolist()
display(df_obj_filter)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [118]:
# Lets see if bucketing is necessary
df[df_obj_filter].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [119]:

classification_count = df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C6100        1
C1580        1
C1370        1
C2380        1
C1283        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [120]:
classification_count.hvplot.density()

:Distribution   [CLASSIFICATION]   (Density)

In [121]:
classification_count.hvplot.bar()

:Bars   [index]   (CLASSIFICATION)

In [122]:
# Determine which values to replace for bucketing 
replace_classification = list(classification_count[classification_count<150].index)

#we iterate over small_count_list and replace items in charity_df['CLASSIFICATION']
for small_class in replace_classification:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(small_class,'Other')

#display reorganized column
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [123]:
application_type_count = df['APPLICATION_TYPE'].value_counts()
application_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [124]:
# Determine values to replace for bucketing
replace_application = list(application_type_count[application_type_count < 150].index)

# Replace in DataFrame
for application in replace_application:
    df.APPLICATION_TYPE = df.APPLICATION_TYPE.replace(application,"Other")

df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [125]:
# encode all categorical variables with OneHotEncoders
enc = OneHotEncoder(sparse=False)

# rerun the category definer
cat = df.dtypes[df.dtypes=="object"].index.tolist()

# fit and then produce the encoder
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [126]:
# Merge the encoded columns
df=df.merge(encode_df,left_index=True, right_index=True)

# Drop columns not encoded
df = df.drop(cat,1)

df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [135]:
# Making a copy of DF
df_2 = df.copy()
df_2

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,996010315,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,996012607,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,996015768,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,996086871,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [137]:
# Remove status from features data
y = df_2['IS_SUCCESSFUL'].values
x = df_2.drop('IS_SUCCESSFUL',1).values

# Split Split train & test datasets
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [144]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)


# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [223]:
# Define deep neural network model
number_input_features = len(x_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

neuro_network = tf.keras.models.Sequential()

# First hidden layer
neuro_network.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
neuro_network.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
neuro_network.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
neuro_network.summary()

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_37 (Dense)             (None, 80)                3920
_________________________________________________________________
dense_38 (Dense)             (None, 30)                2430
_________________________________________________________________
dense_39 (Dense)             (None, 1)                 31
=================================================================
Total params: 6,381
Trainable params: 6,381
Non-trainable params: 0
_________________________________________________________________

In [224]:
# Compile the Sequential model together and customize metrics
neuro_network.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = neuro_network.fit(x_train_scaled, y_train, epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5738 - accuracy: 0.7193
Epoch 2/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5531 - accuracy: 0.7294
Epoch 3/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5505 - accuracy: 0.7307
Epoch 4/100
25724/25724 [==============================] - 2s 84us/sample - loss: 0.5477 - accuracy: 0.7304
Epoch 5/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5447 - accuracy: 0.7332
Epoch 6/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5432 - accuracy: 0.7328
Epoch 7/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5421 - accuracy: 0.7361
Epoch 8/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5413 - accuracy: 0.7354
Epoch 9/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5400 - accuracy: 0.7362
Epoch 10/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5396 - accuracy: 0.7376
Epoch 11/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5385 - accuracy: 0.7372
Epoch 12/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5377 - accuracy: 0.7372
Epoch 13/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5369 - accuracy: 0.7373
Epoch 14/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5364 - accuracy: 0.7371
Epoch 15/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5360 - accuracy: 0.7385
Epoch 16/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5345 - accuracy: 0.7384
Epoch 17/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5342 - accuracy: 0.7407
Epoch 18/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5334 - accuracy: 0.7409
Epoch 19/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5333 - accuracy: 0.7400
Epoch 20/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5324 - accuracy: 0.7404
Epoch 21/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5321 - accuracy: 0.7411
Epoch 22/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5318 - accuracy: 0.7392
Epoch 23/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5312 - accuracy: 0.7407
Epoch 24/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5303 - accuracy: 0.7424
Epoch 25/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5304 - accuracy: 0.7418s - loss: 0.5
Epoch 26/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5297 - accuracy: 0.7420
Epoch 27/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5289 - accuracy: 0.7415
Epoch 28/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5289 - accuracy: 0.7433
Epoch 29/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5284 - accuracy: 0.7434
Epoch 30/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5284 - accuracy: 0.7420
Epoch 31/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5279 - accuracy: 0.7435
Epoch 32/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5272 - accuracy: 0.7424
Epoch 33/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5264 - accuracy: 0.7461
Epoch 34/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5266 - accuracy: 0.7437
Epoch 35/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5265 - accuracy: 0.7443
Epoch 36/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5252 - accuracy: 0.7455
Epoch 37/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5258 - accuracy: 0.7435
Epoch 38/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5250 - accuracy: 0.7446
Epoch 39/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5250 - accuracy: 0.7441
Epoch 40/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5241 - accuracy: 0.7447
Epoch 41/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5235 - accuracy: 0.7456
Epoch 42/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5240 - accuracy: 0.7456
Epoch 43/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5225 - accuracy: 0.7455
Epoch 44/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5231 - accuracy: 0.7467
Epoch 45/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5235 - accuracy: 0.7440
Epoch 46/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5226 - accuracy: 0.7451
Epoch 47/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5216 - accuracy: 0.7457
Epoch 48/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5220 - accuracy: 0.7471
Epoch 49/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5211 - accuracy: 0.7468
Epoch 50/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5219 - accuracy: 0.7461
Epoch 51/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5205 - accuracy: 0.7468
Epoch 52/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5211 - accuracy: 0.7470
Epoch 53/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5201 - accuracy: 0.7480
Epoch 54/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5205 - accuracy: 0.7464
Epoch 55/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5200 - accuracy: 0.7472
Epoch 56/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5188 - accuracy: 0.7477
Epoch 57/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5193 - accuracy: 0.7472
Epoch 58/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5185 - accuracy: 0.7465
Epoch 59/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5187 - accuracy: 0.7481
Epoch 60/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5181 - accuracy: 0.7487
Epoch 61/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5182 - accuracy: 0.7474
Epoch 62/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5180 - accuracy: 0.7481s - loss: 0
Epoch 63/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5177 - accuracy: 0.7479
Epoch 64/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5169 - accuracy: 0.7483
Epoch 65/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5172 - accuracy: 0.7500
Epoch 66/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5170 - accuracy: 0.7491
Epoch 67/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5161 - accuracy: 0.7483
Epoch 68/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5168 - accuracy: 0.7483
Epoch 69/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.5158 - accuracy: 0.7481
Epoch 70/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5161 - accuracy: 0.7484
Epoch 71/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5163 - accuracy: 0.7507
Epoch 72/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5153 - accuracy: 0.7497
Epoch 73/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5152 - accuracy: 0.7503
Epoch 74/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5149 - accuracy: 0.7498
Epoch 75/100

25724/25724 [==============================] - 2s 86us/sample - loss: 0.5151 - accuracy: 0.7502
Epoch 76/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5148 - accuracy: 0.7499
Epoch 77/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5141 - accuracy: 0.7508
Epoch 78/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5138 - accuracy: 0.7500
Epoch 79/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5137 - accuracy: 0.7500
Epoch 80/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5144 - accuracy: 0.7491
Epoch 81/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5129 - accuracy: 0.7491
Epoch 82/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5138 - accuracy: 0.7510
Epoch 83/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5134 - accuracy: 0.7509
Epoch 84/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5125 - accuracy: 0.7523
Epoch 85/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5127 - accuracy: 0.7506
Epoch 86/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5118 - accuracy: 0.7515
Epoch 87/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5124 - accuracy: 0.7508
Epoch 88/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5125 - accuracy: 0.7522
Epoch 89/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5117 - accuracy: 0.7494
Epoch 90/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5124 - accuracy: 0.7496
Epoch 91/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5118 - accuracy: 0.7510
Epoch 92/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5112 - accuracy: 0.7524
Epoch 93/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5118 - accuracy: 0.7501
Epoch 94/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5107 - accuracy: 0.7515
Epoch 95/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5107 - accuracy: 0.7524
Epoch 96/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5105 - accuracy: 0.7507
Epoch 97/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5110 - accuracy: 0.7526
Epoch 98/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5110 - accuracy: 0.7515
Epoch 99/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5099 - accuracy: 0.7527
Epoch 100/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5097 - accuracy: 0.7519

In [225]:
# Evaluate the model using the test data
model_loss, model_accuracy = neuro_network.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 0.5255 - accuracy: 0.7363
Loss: 0.5522030082284187, Accuracy: 0.7363265156745911